.title {
  background-color: #2185d0 !important;
  /*color: #0000ff !important;*/
}

.dropdown-category {
  text-align: center !important;
}

.categories {
  font-weight: bold !important;
}

.remove-button-div {
  position: relative !important;
  margin-right: -100px !important;
  margin-top: -80px !important;
}

.remove-button {
  padding: 10px !important;
}

.comment-button {
  padding: 10px !important;
}

.remove-button-comment-div {
  position: relative !important;
}

.avatar-column {
  align-items:center !important;
  text-align: center !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
